<div class="container">
  <h1 class="text-center"> Passing Data between Parent and Child Component using @Input, @Output and EventEmitter in
    Angular</h1>
  Counter : <span> {{ counter }}</span>

  <br />

  <app-child [counterValue]="counter" (updateCounterValue)="updateCounter($event)"></app-child>

  <br />
  <app-product-detail *ngFor="let product of products" [productDetail]="product"
    (updateQuantity)="updateProductQuantity($event);"></app-product-detail>


  <br />
  <table class="table" border="1">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>
          <app-add-quantity [productDetail]="product" (updateQuantity)="updateProductQuantity($event);">
          </app-add-quantity>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>